/*Fuentes*/
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap");
/*    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Indie Flower', cursive;*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #055052;
}

h2 {
  color: #adad51;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  font-family: "Roboto Condensed";
  justify-content: center;
}

p {
  color: #dfd9d9;
  justify-content: center;
  padding: 1rem 2rem;
}

h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  font-family: "MonteCarlo", cursive;
  font-size: 5rem;
  text-decoration: underline;
  color: #f3f2c9c2;
  text-shadow: 1px 2px 5px #9b1414;
  margin-top: 3rem;
}

header nav .container-fluid {
  background-color: #003638;
  box-shadow: 0 0 1rem #F3F2C9;
}
header nav .container-fluid .navbar-brand {
  border-radius: 50%;
  width: 32px;
}
header nav .navbar-nav {
  gap: 3rem;
}
header nav .nav-link {
  color: #F3F2C9;
}

.shared {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.img-format {
  width: 20rem;
  padding: 0%;
  border-radius: 0 15px;
  margin: 0.5%;
  box-shadow: 2px 2px 2px #F3F2C9;
  justify-content: center;
  transition: all 1s;
}
.img-format:hover {
  cursor: zoom-in;
  transform: translate(30rem, 0px) scale(2);
  z-index: 4;
}

.nosotros .consultar {
  color: #f3f2c9a8;
  text-decoration: none;
}
.nosotros .consultar:hover {
  color: red;
  cursor: pointer;
}

.p-width {
  max-width: 80rem;
  margin: 0 auto;
}

.media {
  background-image: url(../images/paw.png);
  background-position: center;
  background-repeat: repeat;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.media .mapa {
  float: left;
  border-width: 20px;
  border-radius: 20px;
  margin-bottom: 2%;
}
.media .logo-redes {
  width: 6rem;
  margin-top: 3rem;
  transition: all 0.5s;
  opacity: 0.5;
}
.media .logo-redes:hover {
  transform: scale(1.1);
  opacity: 1;
}

.form {
  color: #F3F2C9;
}

/* mobile */
@media only screen and (max-width: 576px) {
  .navbar-nav {
    gap: 0 !important;
    text-align: center;
  }

  h1 {
    font-size: 2.7rem;
  }

  .historia img {
    display: none;
  }

  .historia {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../images/1.jpg);
    background: rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5);
  }

  .mq-bg {
    background-color: rgba(184, 175, 175, 0.5);
    border-radius: 2rem;
  }

  .historia p {
    text-shadow: 1px 3px 2px black;
    margin-bottom: 0;
  }

  .nosotros img {
    display: none;
  }

  .nosotros {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../images/2.jpg);
  }

  .nosotros p {
    text-shadow: 1px 3px 2px black;
    margin-bottom: 0;
  }

  a .logo-redes {
    display: flex;
    justify-content: space-around;
  }

  .mapa {
    width: 30%;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
  }
}
/*tablet*/
@media only screen and (min-width: 577px) and (max-width: 960px) {
  h1 {
    font-size: 3rem;
  }

  .navbar-nav {
    gap: 0 !important;
    text-align: center;
  }

  .historia img {
    display: none;
  }

  .historia {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../images/1.jpg);
  }

  .mq-bg {
    background-color: rgba(184, 175, 175, 0.5);
    border-radius: 2rem;
  }

  .historia p {
    text-shadow: 1px 3px 2px black;
    margin-bottom: 0;
  }

  .nosotros img {
    display: none;
  }

  .nosotros {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(../images/2.jpg);
  }

  .nosotros p {
    text-shadow: 1px 3px 2px black;
    margin-bottom: 0;
  }

  a .logo-redes {
    display: flex;
    justify-content: space-around;
  }

  .mapa {
    width: 30%;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
  }
}

/*# sourceMappingURL=style.css.map */

.img-car {
  width: 30rem;
}