header {
  nav {

    .container-fluid {
      background-color: #003638;
      box-shadow: 0 0 1rem $text-color;


      .navbar-brand {
        border-radius: 50%;
        width: 32px
      }
    }

    .navbar-nav {
      gap: 3rem;
    }

    .nav-link {
      color: $text-color;
    }
  }


}