/* mobile */

@media only screen and (max-width: 576px) {


    .navbar-nav {
        gap: 0 !important;
        text-align: center;
    }

    h1 {
        font-size: 2.7rem;
    }

    .historia img {
        display: none;

    }

    .historia {
        @include mq-values (url(../images/1.jpg));
        background: (rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
    }

    .mq-bg {
     @include mq-bgs
    }

    .historia p {

   @include  mq-ps
    }

    .nosotros img {
        display: none;
    }

    .nosotros {
        @include mq-values(url(../images/2.jpg))
    }

    .nosotros p {

        @include  mq-ps

    }

    a .logo-redes {
        display: flex;
        justify-content: space-around;


    }

 

    .mapa {
        width: 50%;
        margin-top: 0.7rem;
        margin-bottom: 0.7rem;
    }

    .img-car {
        width: 40rem;

    }

    .carousel-inner {
        width: 40rem;
    }
}

/*tablet*/
@media only screen and (min-width: 577px) and (max-width:960px) {



    h1 {
        font-size: 3rem;
    }

    .navbar-nav {
        gap: 0 !important;
        text-align: center;
    }

    .historia img {
        display: none;

    }

    .historia {
        @include mq-values (url(../images/1.jpg))
    }

    .mq-bg {
        @include mq-bgs
    }

    .historia p {
        @include  mq-ps

    }

    .nosotros img {
        display: none;
    }

    .nosotros {
        @include mq-values(url(../images/2.jpg))
    }

    .nosotros p {
        @include  mq-ps


    }

    a .logo-redes {
        display: flex;
        justify-content: space-around;


    }

    .mapa {
        width: 40%;
        margin-top: 0.7rem;
        margin-bottom: 0.7rem;
    }

    .img-car {
        width: 40rem;

    }

    .carousel-inner {
        width: 40rem;
    }


}

@media only screen and (min-width: 960px) and (max-width: 1366px) {

  .img-car{
      width: 55rem;
  }


}

@media only screen and (min-width: 0px) and (max-width: 630px) { 

    h1 {
        font-size: 2rem;
    }

    .img-car {
        width: 100%;

    }

    .carousel-inner {
        width: 100%;
    }

    .text-light {
        font-size: 0.7rem;
    }
}


