/* mobile */

@media only screen and (max-width: 576px) {


    .navbar-nav {
        gap: 0 !important;
        text-align: center;
    }

    h1 {
        font-size: 2.7rem;
    }

    .historia img {
        display: none;

    }

    .historia {
        @include mq-values (url(../images/1.jpg));
        background: (rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5))
    }

    .mq-bg {
        background-color: rgba(184, 175, 175, 0.5);
        border-radius: 2rem;
    }

    .historia p {

        text-shadow: 1px 3px 2px rgb(0, 0, 0);
        margin-bottom: 0;
    }

    .nosotros img {
        display: none;
    }

    .nosotros {
        @include mq-values(url(../images/2.jpg))
    }

    .nosotros p {

        text-shadow: 1px 3px 2px rgb(0, 0, 0);
        margin-bottom: 0;

    }

    a .logo-redes {
        display: flex;
        justify-content: space-around;


    }

    .mapa {
        width: 30%;
        margin-top: 0.7rem;
        margin-bottom: 0.7rem;
    }

    .img-car {
        width: 40rem;

    }

    .carousel-inner {
        width: 40rem;
    }
}

/*tablet*/
@media only screen and (min-width: 577px) and (max-width:960px) {



    h1 {
        font-size: 3rem;
    }

    .navbar-nav {
        gap: 0 !important;
        text-align: center;
    }

    .historia img {
        display: none;

    }

    .historia {
        @include mq-values (url(../images/1.jpg))
    }

    .mq-bg {
        background-color: rgba(184, 175, 175, 0.5);
        border-radius: 2rem;
    }

    .historia p {
        text-shadow: 1px 3px 2px rgb(0, 0, 0);
        margin-bottom: 0;

    }

    .nosotros img {
        display: none;
    }

    .nosotros {
        @include mq-values(url(../images/2.jpg))
    }

    .nosotros p {
        text-shadow: 1px 3px 2px rgb(0, 0, 0);
        margin-bottom: 0;


    }

    a .logo-redes {
        display: flex;
        justify-content: space-around;


    }

    .mapa {
        width: 30%;
        margin-top: 0.7rem;
        margin-bottom: 0.7rem;
    }

    .img-car {
        width: 40rem;

    }

    .carousel-inner {
        width: 40rem;
    }


}

@media only screen and (max-width: 500px) { 

    h1 {
        font-size: 2rem;
    }

    .img-car {
        width: 30rem;

    }

    .carousel-inner {
        width: 30rem;
    }
}


@media only screen and (max-width: 370px) { 

    h1 {
        font-size: 2.5rem;
    } 
}