$text-color: #F3F2C9;
$font-h1:  "MonteCarlo", cursive ;
$h1-color: #f3f2c9c2;
$h1-shadow: #9b1414;
$main-bcolor:#055052;
$h2-color: #adad51;
$p-color:rgb(223, 217, 217);
$global-font: 'Poppins', sans-serif;
$consultar-color: #f3f2c9a8;
$header-color:#003638;
